<%#= form_with(model: booking, local: true) do |form| %>
<%#= form_with(@booking, as: :booking, url: paytm_payment_path(@bookings), html: {class: "reservation-vertical clearfix"}) do |f| %>
<%= form_for(@booking, as: :booking, url: paytm_payment_path(product_id: @product), html: {class: "reservation-vertical clearfix"}) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :product_id, :value => @product.id %>
  <div class="headingWrap">
    <h3 class="headingTop text-center">Select Your Payment Method</h3>  
  </div>
  <center>
    <div class="actions">
      <%= f.submit 'Create Payment With Paytm' %>
    </div>
  </center>  
<% end %>
<div class="container">
  <div class="row">
    <div class="paymentCont">
            
            <div class="paymentWrap">
              <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                      <label class="btn paymentMethod active">
                        <div class="method visa"></div>
                          <input type="radio" name="options" checked> 
                      </label>
                      <label class="btn paymentMethod">
                        <div class="method master-card"></div>
                          <input type="radio" name="options"> 
                      </label>
                      <label class="btn paymentMethod">
                        <div class="method amex"></div>
                          <input type="radio" name="options">
                      </label>
                       <label class="btn paymentMethod">
                        <div class="method vishwa"></div>
                          <input type="radio" name="options"> 
                      </label>
                      <label class="btn paymentMethod">
                        <div class="method ez-cash"></div>
                          <input type="radio" name="options"> 
                      </label>
                   
                  </div>        
            </div>
            <div class="footerNavWrap clearfix">
              <div class="btn btn-success pull-left btn-fyi"><span class="glyphicon glyphicon-chevron-left"></span> CONTINUE SHOPPING</div>
              <div class="btn btn-success pull-right btn-fyi">CHECKOUT<span class="glyphicon glyphicon-chevron-right"></span></div>
            </div>
          </div>
    
  </div>
</div>
