<%#= form_with(model: booking, local: true) do |form| %>
<%#= form_with(@booking, as: :booking, url: paytm_payment_path(@bookings), html: {class: "reservation-vertical clearfix"}) do |f| %>
<%= form_for(@booking, as: :booking, url: paytm_payment_path(product_id: @product), html: {class: "reservation-vertical clearfix"}) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :product_id, :value => @product.id %>


  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
