<section>
  <div class="container_12">
    <h1>Last Booking Information </h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>User Email</th>
          <th>User Name</th>
          <th>Product</th>
          <th>Price</th>
          <th>Image</th>
          <th>Booking Date</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @booking.user.email %></td>
            <td><%= @booking.user.name %></td>
            <td><%= @booking.product.name %></td>
            <td><%= @booking.product.price %></td>
            <td><%= image_tag @booking.product.image.url(:thumb), :size => "100x100"%></td>
            <td><%= @booking.created_at %></td>
          </tr>
      </tbody>
    </table>
  </div>
</section>    


<section>
  <div class="container_12">
    <h1>Bookings Information </h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>User Email</th>
          <th>User Name</th>
          <th>Product</th>
          <th>Price</th>
          <th>Image</th>
          <th>Booking Date</th>
          <th>Show</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.user.email %></td>
            <td><%= booking.user.name %></td>
            <td><%= booking.product.name %></td>
            <td><%= booking.product.price %></td>
            <td><%= image_tag booking.product.image.url(:thumb), :size => "100x100"%></td>
            <td><%= booking.created_at %></td>
            <td><%= link_to 'Show', booking %></td>
            <!-- <td><%#= link_to 'Edit', edit_booking_path(booking) %></td> -->
            <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>    
<%#= link_to 'New Booking', new_booking_path %>
