<!-- .block_nav_primary -->
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert" id ="alert"><%= flash[:alert] %></div>
<% end %>
<div class="clear"></div>
<div class="container_12">
  <div class="grid_12">
    <div class="slidprev"><span>Prev</span></div>
    <div class="slidnext"><span>Next</span></div>
    <div id="slider">
      <div class="slide">
        <img src="<%= asset_path('content/slide1.jpg') %>" alt="" title="">
        <div class="slid_text">
          <h3 class="slid_title"><span>Breeze Theme</span></h3>
          <p><span>Breeze is the 14 stylish HTML templates,</span></p>
          <p><span>which will helps you boost sales</span></p>
          <p><span>and receive good feedback from your clients.</span></p>
        </div>
      </div>
      <div class="slide">
        <img src="<%= asset_path('content/slide2.jpg') %>" alt="" title="">
        <div class="slid_text">
          <h3 class="slid_title"><span>Flexibility</span></h3>
          <p><span>Every product, which you are selling,</span></p>
          <p><span>will look great with Breeze theme.</span></p>
        </div>
      </div>
      <div class="slide">
        <img src="<%= asset_path('content/slide3.jpg') %>" alt="" title="">
        <div class="slid_text">
          <h3 class="slid_title"><span>Accuracy and Easiness</span></h3>
          <p><span>Breeze design is mere and accurate,</span></p>
          <p><span>so it will satisfy everybody.</span></p>
        </div>
      </div>
    </div>
    <!-- .slider -->
    <div class="clear"></div>
    <div id="myController">
      <div class="control"><span>1</span></div>
      <div class="control"><span>2</span></div>
      <div class="control"><span>3</span></div>
    </div>
  </div>
  <!-- .grid_12 -->
</div>
<!-- .container_12 -->
<div class="clear"></div>
<section id="main" class="home">
  <div class="container_12">
    <div id="top_button">
      <div class="grid_4">
        <a href="#" class="button_block best_price">
        <img src="<%= asset_path('banner1.png') %>"  alt="Banner 1">
        </a>
        <!-- .best_price -->
      </div>
      <!-- .grid_4 -->
      <div class="grid_4">
        <a href="#" class="button_block new_smells">
        <img src="<%= asset_path('banner2.png') %>"  alt="Banner 2">
        </a>
        <!-- .new smells -->
      </div>
      <!-- .grid_4 -->
      <div class="grid_4">
        <a href="#" class="button_block only_natural">
        <img src="<%= asset_path('banner3.png') %>"  alt="Banner 3">
        </a>
        <!-- .only_natural -->
      </div>
      <!-- .grid_4 -->
      <div class="clear"></div>
    </div>
    <!-- #top_button -->
    <div class="clear"></div>
    <%#= render_shareable :url=> 'http://github.com/hermango/', :facebook=> {:send=> 'true', :url=> 'http://demo.dev'} %>

    <!-- <All Product> -->
      <div class="carousel">
        <div class="c_header">
          <div class="grid_10">
            <h2>Latest Product</h2>
          </div>
          <div class="grid_2">
            <a id="next_c1" class="next arows" href="#"><span>Next</span></a>
            <a id="prev_c1" class="prev arows" href="#"><span>Prev</span></a>
          </div>
        </div>
        <div class="list_carousel">
          <ul id="list_product" class="list_product">
            <li class="">
              <% @products.each do |product| %>
                <div class="grid_3 product">
                  <div>
                    <!-- <img src="<%#= asset_path('sale.png') %>" alt="Sale" class="sale"> -->
                  </div>
                  <div class="prev">
                    <a href="/products/<%= product.id %>"><% if product.image.present? %>
                      <img src="<%= product.image %>" style="width: 100%" title="" alt=""/>
                      <% else %>
                        <img src="<%= asset_path('sku.jpg') %>" alt="" title=""/>
                      <% end %>
                    </a>
                  </div>
                  <% if product.description.present? %>
                    <h3 class="title"><%= raw product.description.truncate(50) %></h3>
                  <% end %>  
                  <%#= product.name %>
                  <div class="cart"> 
                    <div class="price">
                      <div class="vert">
                        <div class="price_new">₹<%= product.display_price %></div>
                        <div class="price_old">
                          <% if product.full_price.to_f > 0 %>
                            <del> ₹<%= product.display_full_price %></del>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <!-- <%# if product.discount_percentage %>
                      <span class="discount"><%#= product.discount_percentage.to_i %>%  off</span>
                    <%# end %> -->
                    <a href="/products/<%= product.id %>/wishlist" class="like">
                    
                    <a href="#" class="obn"></a>
                    <a href=" /products/<%= product.id %>/cart" class="bay"></a>
                  </div>
                </div>
                 
              <% end %>  
            </li>
          </ul>
        </div>
      </div>
    <!-- <All Product>   -->
    <div class="carousel">
      <div class="c_header">
        <div class="grid_10">
          <h2>Best Sellers</h2>
            <%#= social_share_button_tag(@product.name, url: request.url, image: @product.image, desc: Nokogiri::HTML(@product.desc).text) %>
            <%#= social_share_button_tag(:allow_sites => %w(twitter facebook)) %>
            <%#= social_share_button_tag("My Site") %>
            <%#= render_shareable %>


        </div>

        <!-- .grid_10 -->
        <div class="grid_2">
          <a id="next_c1" class="next arows" href="#"><span>Next</span></a>
          <a id="prev_c1" class="prev arows" href="#"><span>Prev</span></a>
        </div>
        <!-- .grid_2 -->
      </div>
      <!-- .c_header -->
      <div class="list_carousel">
        <ul id="list_product" class="list_product">
          <li class="">
            <div class="grid_3 product">
              <img src="<%= asset_path('sale.png') %>" alt="Sale" class="sale">
              <div class="prev">
                <a href="/product_page.html"><img src="<%= asset_path('product_1.png') %>" alt="" title=""/></a>
              </div>
              <!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                  <div class="vert">
                    <div class="price_new">$550.00</div>
                    <div class="price_old">$725.00</div>
                  </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div>
              <!-- .cart -->
            </div>
            <!-- .grid_3 -->
          </li>
          <li class="">
            <div class="grid_3 product">
              <img src="<%= asset_path('sale.png') %>" alt="Sale" class="sale" />
              <div class="prev">
                <a href="/product_page.html">
                <img src="<%= asset_path('product_2.png') %>" alt="" title=""/>
                </a>
              </div>
              <!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                  <div class="vert">
                    <div class="price_new">$550.00</div>
                    <div class="price_old">$725.00</div>
                  </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div>
              <!-- .cart -->
            </div>
            <!-- .grid_3 -->
          </li>
          <li class="">
            <div class="grid_3 product">
              <div class="prev">
                <a href="/product_page.html">
                <img src="<%= asset_path('product_3.png') %>" alt="" title=""/></a>
              </div>
              <!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                  <div class="vert">
                    <div class="price_new">$550.00</div>
                  </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div>
              <!-- .cart -->
            </div>
            <!-- .grid_3 -->
          </li>
          <li class="">
            <div class="grid_3 product">
              <img src="<%= asset_path('sale.png') %>" alt="Sale" class="sale" />
              <div class="prev">
                <a href="/product_page.html">
                <img src="<%= asset_path('product_4.png') %>" alt="" title=""/></a>
              </div>
              <!-- .prev -->
              <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
              <div class="cart">
                <div class="price">
                  <div class="vert">
                    <div class="price_new">$550.00</div>
                    <div class="price_old">$725.00</div>
                  </div>
                </div>
                <a href="#" class="obn"></a>
                <a href="#" class="like"></a>
                <a href="#" class="bay"></a>
              </div>
              <!-- .cart -->
            </div>
            <!-- .grid_3 -->
          </li>
        </ul>
        <!-- #list_product -->
      </div>
      <!-- .list_carousel -->
    </div>
    <!-- .carousel -->
    <div class="carousel">
      <div class="carousel">
          <div class="carousel">
            <div class="c_header">
              <div class="grid_10">
                <h2>Featured Products</h2>
              </div>
              <div class="grid_2">
                <a id="next_c1" class="next arows" href="#"><span>Next</span></a>
                <a id="prev_c1" class="prev arows" href="#"><span>Prev</span></a>
              </div>
            </div>
            <div class="list_carousel">
              <ul id="list_product" class="list_product">
                <li class="">
                  <% @featured_product.each do |product| %>
                    <div class="grid_3 product">
                      <div>
                      </div>
                      <div class="prev">
                        <a href="/products/<%= product.id %>"><% if product.image.present? %>
                          <img src="<%= product.image %>" style="width: 100%" title="" alt=""/>
                          <% else %>
                            <img src="<%= asset_path('sku.jpg') %>" alt="" title=""/>
                          <% end %>
                        </a>
                      </div>
                      <% if product.description.present? %>
                        <h3 class="title"><%= product.description.truncate(50) %></h3>
                      <% end %>  
                      <div class="cart"> 
                        <div class="price">
                          <div class="vert">
                            <div class="price_new">₹<%= product.display_price %></div>
                            <div class="price_old">
                              <% if product.full_price.to_f > 0 %>
                                <del> ₹<%= product.display_full_price %></del>
                              <% end %>
                            </div>
                          </div>
                        </div>
                        <a href="#" class="obn"></a>
                        <a href="#" class="like"></a>
                        <a href="#" class="bay"></a>
                        
                      </div>
                    </div>
                     
                  <% end %>  
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <!-- .carousel -->
    <div id="content_bottom">
      <div class="grid_4">
        <div class="bottom_block about_as">
          <h3>About Us</h3>
          <p>A block of text is a stack of line boxes. In the case of 'left', 'right' and 'center', this property specifies how the inline-level boxes within each line box align with respect to the line box's </p>
          <p>Alignment is not with respect to the viewport. In the case of 'justify', this property specifies that the inline-level boxes are to be made flush with both sides of the line box if possible.</p>
          <p>by expanding or contracting the contents of inline boxes, else aligned as for the initial value.</p>
        </div>
        <!-- .about_as -->
      </div>
      <!-- .grid_4 -->
      <div class="grid_4">
        <div class="bottom_block news">
          <h3>News</h3>
          <ul>
            <li>
              <time datetime="2012-03-03">3 january 2012</time>
              <a href="#">A block of text is a stack of line boxes. In the case of 'left', 'right' and 'center', this property specifies</a>
            </li>
            <li>
              <time datetime="2012-02-03">2 january 2012</time>
              <a href="#">A block of text is a stack of line boxes. In the case of 'left', 'right' and 'center', this property specifies</a>
            </li>
            <li>
              <time datetime="2012-01-03">1 january 2012</time>
              <a href="#">A block of text is a stack of line boxes. In the case of 'left', 'right' and 'center', this property specifies how the inline-level boxes within each line</a>
            </li>
          </ul>
        </div>
        <!-- .news -->
      </div>
      <!-- .grid_4 -->
      <div class="grid_4">
        <div class="bottom_block newsletter">
          <h3>Newsletter</h3>
          <p>Cursus in dapibus ultrices velit fusce. Felis lacus erat. Fermentum parturient lacus tristique habitant nullam morbi et odio nibh mus dictum tellus erat.</p>
          <form class="letter_form">
            <input type="email" name="newsletter" class="l_form" value="" placeholder="Enter your email address..." />
            <input type="submit" id="submit" value="" />
          </form>
          <div class="lettel_description">
            Vel lobortis gravida. Cursus in dapibus ultrices velit fusce. Felis lacus erat.
          </div>
          <!-- .lettel_description -->
        </div>
        <!-- .newsletter -->
      </div>
      <!-- .grid_4 -->
      <div class="clear"></div>
    </div>
    <!-- #content_bottom -->
    <div class="clear"></div>
  </div>
  <!-- .container_12 -->
</section>
<!-- #main -->
<div class="clear"></div>
<style type="text/css">
  .cart_st {
    width: 42px;
    display: block;
    float: left;
    height: 41px;
    margin: 0px;
    border-right: 1px solid #e0e0e0;
}
</style>
