<div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="<%= @cart_item.product.image %>" /></div>
            </div>
          </div>

          <div class="details col-md-6">
            <h3 class="product-title"><%= @cart_item.product.name %></h3>
            <div class='star-rating' data-score=<%= @avg_rating %>></div>
                <strong><%= "#{@reviews.try(:size)} reviews" %></strong>

            <p class="product-description"><%= @cart_item.product.description %></p>
            <h4 class="price">current price:<span>₹ <%= @cart_item.product.display_price %></span> <del><span>₹ <%= @cart_item.product.display_full_price %></span></del>(<%= @cart_item.product.discount_percentage.to_f.round(2)%>%)</h4>
            <!---------- Rating riview form -------------->
              <% if current_user.present? %>
                <%= form_for (RatingReview.new) do |f| %>
                  <% if current_user.present? %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :product_id, value: @cart_item.product.id %>
                   <% end %>
                  
                  <div id="rating-form" class="field col-lg-12 from-group">
                    <label>Rating</label>
                  </div>

                  <div class="field col-lg-12 from-group">
                    <%= f.label :review %>
                    <%= f.text_area :review , :class => "form-control" %>
                  </div>

                  <div class="field col-lg-12 from-group text-center ">
                    <%= f.submit "Submit", class: 'btn btn-success' %>
                  </div>
                  <!-- ------  Review script ----------- -->
                  <script type="text/javascript">
                    $('#rating-form').raty({
                      path: '/assets/',
                      scoreName: 'rating_review[rating]'
                    });
                  </script>
                <% end %>
              <% end %>
            <div class="action">
              <!--  Product show rating  -->
              <br><br>
                <% @reviews.each do |review|%>
                  <div class='star-rating' data-score=<%= review.rating %>></div><br>
                  <%= review.review %>
                  <h6><%= review.user.name %></h6><hr>

                <% end %>
                <script>
                    $('.star-rating').raty({
                      path: '/assets/',
                      readOnly: true,
                      score: function() {
                            return $(this).attr('data-score');
                    }
                  });
                </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


