<div class="clear"></div>
<section id="main">
  <div class="container_12">
    <div id="content" class="grid_9">
      <h1 class="page_title"><%= @product.name %></h1>
      <div class="product_page">
        <div class="grid_4 img_slid" id="products">
          <!-- <img src="<%#= asset_path('sale.png') %>" alt="Sale" class="sale"> -->
          <div class="preview slides_container">
            <div class="prev_bg">
              <a class="jqzoom" rel="gal1" href="<%= @product.image %>">
              <% if @product.image.present? %>
              <img src="<%= @product.image %>" style="width: 100%" title="" alt=""/>
              <% else %>
              <img src="<%= asset_path('sku.jpg') %>" alt="" title=""/>
              <% end %> 
              </a>
            </div>
          </div>
          <!-- .prev -->
          <ul class="pagination clearfix" id="thumblist">
            <li><a class="zoomThumbActive" href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: './images/produkt_slid.png',largeimage: './images/produkt_slid.png'}"><img src="<%= asset_path('produkt_slid.png') %>" alt="" title=""/></a>
            </li>
            <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: './images/produkt_slid1.png',largeimage: './images/produkt_slid1.png'}"><img src="<%= asset_path('produkt_slid1.png') %>" alt="" title=""/></a></li>
            <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: './images/produkt_slid2.png',largeimage: './images/produkt_slid2.png'}"><img src="<%= asset_path('produkt_slid2.png') %>" alt="" title=""/></a></li>
            <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: './images/produkt_slid3.png',largeimage: './images/produkt_slid3.png'}"><img src="<%= asset_path('produkt_slid3.png') %>" alt="" title=""/></a></li>
            <li><a href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: './images/produkt_slid4.png',largeimage: './images/produkt_slid4.png'}"><img src="<%= asset_path('produkt_slid4.png') %>" alt="" title=""/></a></li>
          </ul>
          <div class="next_prev">
            <a id="img_prev" class="arows" href="#"><span>Prev</span></a>
            <a id="img_next" class="arows" href="#"><span>Next</span></a>
          </div>
          <!-- . -->
        </div>
        <!-- .grid_4 -->
        <div class="grid_5">
          <div class="entry_content">
            <div class="review">
              <a class="plus" href="#"></a>
              <a class="plus" href="#"></a>
              <a class="plus" href="#"></a>
              <a href="#"></a>
              <a href="#"></a>
              <span>1 REVIEW(S)</span>
              <a class="add_review" href="#">ADD YOUR REVIEW</a>
            </div>
            <p><%= @product.description %></p>
            <div class="ava_price">
              <div class="availability_sku">
                <div class="availability">
                  Availability: <span>In stock</span>
                </div>
                <div class="sku">
                  SKU: <span>Candles OV</span>
                </div>
              </div>
              <!-- .availability_sku -->
              <div class="price">
                <div class="price_new">₹<%= @product.display_price %>
                </div>
                <div class="">
                  <% if @product.full_price.to_f > 0 %>
                  <del> ₹<%= @product.display_full_price %></del>
                  <% end %>
                  (<% if @product.discount_percentage %>
                  <span class="discount"><%= @product.discount_percentage.to_i %>%  off</span>
                  <% end %>)
                </div>
              </div>
              <!-- .price -->
            </div>
            <!-- .ava_price -->
            <div class="block_cart">
              <div class="obn_like">
                <div class="obn"><a href="#" class="obn">Add to Compare</a></div>
                <div class="like">

                <%#= link_to products_add_wishlist_path, class: "btn btn-default1 box_size", data: {method: :post, remote: true} do %>
                  <!-- Add to Wishlist -->
                <%# end %>
                <button class="add-to-shopping-bag btn btn-primary" type="button"><a href="/products/<%= @product.id %>/wishlist" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></button>

                
                <%#= link_to 'Book Now', bookings_new_product_path(@product), class: "bg_green tc_white tc_green_h bg_white_h decoration_btn" %>
                </div>
                <%= render partial: "likes/like", locals: {product: @product } %><hr>



              </div>
              <div class="cart">
                <a href="/products/<%= @product.id %>/bookings/new" class="bay">Add to Cart</a>
                <input type="text" name="" class="number" value="1" />
                <span>Quantity:</span>
              </div>
              <div class="clear"></div>
            </div>
            <!-- .block_cart -->
            <div class="pull-right">
              <span>Share With</span>
              <%= social_share_button_tag(:allow_sites => %w(twitter facebook)) %>
            </div>
          </div>
          <!-- .entry_content -->
        </div>
        <!-- .grid_5 -->
        <div class="clear"></div>
        <div class="grid_9" >
          <div id="wrapper_tab" class="tab1">
            <a href="#" class="tab1 tab_link">Description</a>
            <a href="#" class="tab2 tab_link">Reviews</a>
            <a href="#" class="tab3 tab_link">Custom Tab</a>
            <div class="clear"></div>
            <div class="tab1 tab_body">
              <h4>Tables Style</h4>
              <p>Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum. Etiam mollis volutpat odio, id euismod justo gravida a. Aliquam erat volutpat. Phasellus faucibus venenatis lorem, vitae commodo elit pretium et. Duis rhoncus lobortis congue. Vestibulum et purus dui, vel porta lectus. Sed vulputate pulvinar adipiscing.</p>
              <ul>
                <li>She was walking to the mall.</li>
                <li>Ted might eat the cake.</li>
                <li>You must go right now.</li>
                <li>Words were spoken.</li>
                <li>The teacher is writing a report.</li>
              </ul>
              <p>Here are some verb phrase examples where the verb phrase is the predicate of a sentence. In this case, the verb phrase consists of the main verb plus any auxiliary, or helping, verbs. Nulla nec velit. Mauris pulvinar erat non massa. Suspendisse tortor turpis, porta nec, tempus vitae, iaculis semper, pede.</p>
              <ol>
                <li>Shipping & Delivery.</li>
                <li>Privacy & Security.</li>
                <li>Returns & Replacements.</li>
                <li>Payment, Pricing & Promotions.</li>
                <li>Viewing Orders.</li>
              </ol>
              <p>Next are some verb phrase examples of verb phrases where the phrase has a single function which means it can act like an adverb or an adjective. The phrase would include the verb and any modifiers, complements, or objects. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi luctus. Duis lobortis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Proin vel ultrices erat. </p>
              <table>
                <tr>
                  <th class="bg">First Column</th>
                  <th>Second Column</th>
                  <th class="bg">Third Column</th>
                  <th>Fourth Column</th>
                </tr>
                <tr>
                  <td class="bg">One</td>
                  <td>no</td>
                  <td class="bg">yes</td>
                  <td>yes, all</td>
                </tr>
                <tr>
                  <td class="bg">Two</td>
                  <td>0</td>
                  <td class="bg">1</td>
                  <td>all</td>
                </tr>
                <tr>
                  <td class="bg">Three</td>
                  <td>$399</td>
                  <td class="bg">₹<%= @product.display_price %></td>
                  <td><% if @product.full_price.to_f > 0 %>
                    <del> ₹<%= @product.display_full_price %></del>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="bg">Four</td>
                  <td><a href="#">Call action</a></td>
                  <td class="bg"><a href="#">Call action</a></td>
                  <td><a href="#">Call action</a></td>
                </tr>
              </table>
              <div class="clear"></div>
            </div>
            <!-- .tab1 .tab_body -->
            <div class="tab2 tab_body">
              <h4>Customer reviews</h4>
              <div id="review-rating">
                <% if current_user.present? %>
                <%= form_for :rating_reviews, url: rating_reviews_path(product_id: @product.id) ,  method: :post do |f| %>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <h3><%= f.label "Rating" %></h3>
                      <%= f.hidden_field :rating, class:"form-control live-rating", :required => true, value: @rating_review.rating  %>
                      <%= f.hidden_field :rating_review_id, value: @rating_review.id%>
                      <div class="my-rating"></div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <h3><%= f.label "Revieweeeeeeee" %></h3>
                      <%= f.text_area :review, :class => 'ckeditor' %>
                       <h3><%= f.label "Review" %></h3>
                      <%= f.text_area :review, class:"form-control client_member_body", rows:"12", :required => true, value: @rating_review.review  %>
                      <%= f.file_field :image, class: "form-control", rows:"12", value: @rating_review.image %><br/>
                    </div>
                    <script type="text/javascript">
                      $('.ckeditor').ckeditor({
  // optional config
});

                    </script>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <% if @rating_review.new_record? %>
                    <%= f.submit "Add Review", class:"btn btn-primary btn float-right" %>
                    <% else %>
                    <%= f.submit "Update Review", class:"btn btn-primary btn float-right" %>
                    <% end %>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
              <div id="review-rating">
                <% if current_user.present? %>
                <%= form_for :rating_reviews, url: rating_reviews_path(product_id: @product.id) ,  method: :post do |f| %>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <h3><%= f.label "Rating" %></h3>
                      <%= f.hidden_field :rating, class:"form-control live-rating", :required => true, value: @rating_review.rating  %>
                      <%= f.hidden_field :rating_review_id, value: @rating_review.id%>
                      <div class="my-rating"></div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <h3><%= f.label "Revieweeeeeeee" %></h3>
                      <%= f.text_area :review, :class => 'ckeditor' %>
                      <h3><%= f.label "Review" %></h3>
                      <%#= f.text_area :review, class:"form-control client_member_body", rows:"12", :required => true, value: @rating_review.review  %>
                      <%= f.text_area :review, rows: "20", class: "client_member_body form-control rounded", placeholder: ""%>
                      <%= f.file_field :image, class: "form-control", rows:"12", value: @rating_review.image %><br/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <% if @rating_review.new_record? %>
                    <%= f.submit "Add Review", class:"btn btn-primary btn float-right" %>
                    <% else %>
                    <%= f.submit "Update Review", class:"btn btn-primary btn float-right" %>
                    <% end %>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
              <script type="text/javascript">
                $('#review-rating').hide()
                $('.show-review').on('click', function () {
                   $('#review-rating').show()
                })
                $(".my-rating").starRating({
                  initialRating: '<%= @rating_review.display_rating %>',
                  disableAfterRate: false,
                  onHover: function(currentIndex, currentRating, $el){
                    $('.live-rating').text(currentIndex);
                  },
                  onLeave: function(currentIndex, currentRating, $el){
                    $('.live-rating').val(currentRating*2);
                    console.log(currentRating*2)
                  }
                });
              </script>
              <br>
              <% @product.rating_reviews.order("rating_reviews.created_at DESC").each do |rating_review|%>
              <div class="review-block">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="preview slides_container">
                      <div class="prev_bg">
                        <a class="jqzoom zoomWrapperImage" rel="gal1" href="<%= rating_review.image %>" style="width: 50%; height: 100px;">
                          <% if rating_review.image.present?  %>
                            
                              <img src="<%= rating_review.image %>" style="width: 60px; height: 60px;" title="" alt=""/>
                            
                          <% else %>  
                            <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                          <% end %>
                        </a>  
                       </div>
                      </div>  
                    <div class="review-block-name"><a href="#"><%= rating_review.user.email %></a></div>
                    <div class="review-block-date"><%= rating_review.created_at.strftime('%d %b %Y')%><br/><%= time_ago_in_words(rating_review.created_at, include_seconds: true) %> Ago</div>
                  </div>
                  <div class="col-sm-9">
                    <div class="review-block-rate">
                      <% (1 .. (rating_review.rating/2)).each do |rr|%>
                      <span class="glyphicon glyphicon-star"></span>
                      <% end %>
                      <% if rating_review.half_star? %>
                      <span class="glyphicon glyphicon-star half"></span>
                      <% end %>
                    </div>
                    <div class="review-block-description"><%= rating_review.review%></div>
                  </div>
                </div>
                <hr/>
              </div>
              <% end %>
              <script type="text/javascript">
                setTimeout(function(){
                    var scriptt = document.createElement('script');
                    scriptt.type = 'text/javascript';
                    scriptt.src = "https://i2.sdlcdn.com/js/1556186736112/snap/reviews.revamp.min.js";
                    scriptt.async = 'true';
                    document.head.appendChild(scriptt);
                },10);
              </script>
              <div class="clear"></div>
            </div>
            <div class="tab3 tab_body">
              <h4>Custom Tab</h4>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="related">
          <div class="c_header">
            <div class="grid_7">
              <h2>Related Products</h2>
            </div>
            <!-- .grid_7 -->
            <div class="grid_2">
              <a id="next_c1" class="next arows" href="#"><span>Next</span></a>
              <a id="prev_c1" class="prev arows" href="#"><span>Prev</span></a>
            </div>
            <!-- .grid_2 -->
          </div>
          <!-- .c_header -->
          <div class="list_carousel">
            <ul id="list_product" class="list_product">
              <li class="">
                <div class="grid_3 product">
                  <img src="<%= asset_path('sale.png') %>" alt="Sale" title="" class="sale"/>
                  <div class="prev">
                    <a href="/product_page.html"><img src="<%= asset_path('product_1.png') %>" alt="" title=""/></a>
                  </div>
                  <!-- .prev -->
                  <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                  <div class="cart">
                    <div class="price">
                      <div class="vert">
                        <div class="price_new">$550.00</div>
                        <div class="price_old">$725.00</div>
                      </div>
                    </div>
                    <a href="#" class="obn"></a>
                    <a href="#" class="like"></a>
                    <a href="#" class="bay"></a>
                  </div>
                  <!-- .cart -->
                </div>
                <!-- .grid_3 -->
              </li>
              <li class="">
                <div class="grid_3 product">
                  <div class="prev">
                    <a href="/product_page.html"><img src="<%= asset_path('product_2.png') %>" alt="" title=""/></a>
                  </div>
                  <!-- .prev -->
                  <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                  <div class="cart">
                    <div class="price">
                      <div class="vert">
                        <div class="price_new">$550.00</div>
                        <div class="price_old">$725.00</div>
                      </div>
                    </div>
                    <a href="#" class="obn"></a>
                    <a href="#" class="like"></a>
                    <a href="#" class="bay"></a>
                  </div>
                  <!-- .cart -->
                </div>
                <!-- .grid_3 -->
              </li>
              <li class="">
                <div class="grid_3 product">
                  <div class="prev">
                    <a href="/product_page.html"><img src="<%= asset_path('product_3.png') %>" alt="" title=""/></a>
                  </div>
                  <!-- .prev -->
                  <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                  <div class="cart">
                    <div class="price">
                      <div class="vert">
                        <div class="price_new">$550.00</div>
                        <div class="price_old">$725.00</div>
                      </div>
                    </div>
                    <a href="#" class="obn"></a>
                    <a href="#" class="like"></a>
                    <a href="#" class="bay"></a>
                  </div>
                  <!-- .cart -->
                </div>
                <!-- .grid_3 -->
              </li>
              <li class="">
                <div class="grid_3 product">
                  <div class="prev">
                    <a href="/product_page.html"><img src="<%= asset_path('product_4.png') %>" alt="" title=""/></a>
                  </div>
                  <!-- .prev -->
                  <h3 class="title">Febreze Air Effects New Zealand Springs</h3>
                  <div class="cart">
                    <div class="price">
                      <div class="vert">
                        <div class="price_new">$550.00</div>
                        <div class="price_old">$725.00</div>
                      </div>
                    </div>
                    <a href="#" class="obn"></a>
                    <a href="#" class="like"></a>
                    <a href="#" class="bay"></a>
                  </div>
                  <!-- .cart -->
                </div>
                <!-- .grid_3 -->
              </li>
            </ul>
            <!-- #list_product -->
          </div>
          <!-- .list_carousel -->
        </div>
        <!-- .carousel -->
      </div>
      <!-- .product_page -->
      <div class="clear"></div>
    </div>
    <!-- #content -->
    <div id="sidebar" class="grid_3">
      <aside id="categories_nav">
        <h3>Categories</h3>
        <nav class="left_menu">
          <ul>
            <% Category.all.each do |category|%>
              <li class="<%= is_active_controller('products') %>">
                <a href=""></i> <span class="nav-label"><%= category.name %></span> <span class="fa arrow">
                  <% category.sub_categories.each do |sub_category|%>
                    <% sub_category.sub_category_types.each do |sub_category_type|%>
                      (<%= sub_category_type.products.count %>)
                    <% end %>
                  <% end %>
                </span></a>  
              </li>
            <% end %>
          </ul>
        </nav>
        <!-- .left_menu -->
      </aside>
      <!-- #categories_nav -->
      <aside id="specials" class="specials">
        <h3>Specials</h3>
        <ul>
          <li>
            <div class="prev">
              <a href="#">
              <img src="<%= asset_path('special1.png') %>" alt="" title=""/></a>
            </div>
            <div class="cont">
              <a href="#">Honeysuckle Flameless Luminary Refill</a>
              <div class="prise"><span class="old">$177.00</span>$75.00</div>
            </div>
          </li>
          <li>
            <div class="prev">
              <a href="#">
              <img src="<%= asset_path('special2.png') %>" alt="" title=""/></a>
            </div>
            <div class="cont">
              <a href="#">Honeysuckle Flameless Luminary Refill</a>
              <div class="prise"><span class="old">$177.00</span>$75.00</div>
            </div>
          </li>
        </ul>
      </aside>
      <!-- #specials -->
      <aside id="newsletter_signup">
        <h3>Newsletter Signup</h3>
        <p>Phasellus vel ultricies felis. Duis
          rhoncus risus eu urna pretium.
        </p>
        <form class="newsletter">
          <input type="email" name="newsletter" class="your_email" value="" placeholder="Enter your email address..."/>
          <input type="submit" id="submit" value="Subscribe" />
        </form>
      </aside>
      <!-- #newsletter_signup -->
      <aside id="banners">
        <a id="ban_next" class="next arows" href="#"><span>Next</span></a>
        <a id="ban_prev" class="prev arows" href="#"><span>Prev</span></a>
        <h3>Banners</h3>
        <div class="list_carousel">
          <ul id="list_banners">
            <li class="banner">
              <a href="#">
                <div class="prev">
                  <img src="<%= asset_path('banner.png') %>" alt="" title=""/>
                </div>
                <!-- .prev -->
                <h2>New smells</h2>
                <p>in the next series</p>
              </a>
            </li>
            <li class="banner">
              <a href="#">
                <div class="prev">
                  <img src="<%= asset_path('banner.png') %>" alt="" title=""/>
                </div>
                <!-- .prev -->
                <h2>New smells</h2>
                <p>in the next series</p>
              </a>
            </li>
            <li class="banner">
              <a href="#">
                <div class="prev">
                  <img src="<%= asset_path('banner.png') %>" alt="" title=""/>
                </div>
                <!-- .prev -->
                <h2>New smells</h2>
                <p>in the next series</p>
              </a>
            </li>
          </ul>
        </div>
        <!-- .list_carousel -->
      </aside>
      <!-- #banners -->
      <aside id="tags">
        <h3>Tags</h3>
        <a class="t1" href="">california</a>
        <a class="t2" href="">canada</a>
        <a class="t3" href="">canon</a>
        <a class="t4" href="">cat</a>
        <a class="t5" href="">chicago</a>
        <a class="t6" href="">christmas</a>
        <a class="t7" href="">mars</a>
        <a class="t8" href="">church</a>
        <a class="t9" href="">city</a>
        <a class="t10" href="">clouds</a>
        <a class="t11" href="">color</a>
        <a class="t12" href="">concert</a>
        <a class="t13" href="">dance</a>
        <a class="t14" href="">day</a>
        <a class="t15" href="">dog</a>
        <a class="t16" href="">england</a>
        <a class="t17" href="">europe</a>
      </aside>
      <!-- #community_poll -->
    </div>
    <!-- .sidebar -->
    <div class="clear"></div>
  </div>
  <!-- .container_12 -->
</section>
<!-- #main -->
<div class="clear"></div>
<style type="text/css">
  .glyphicon-star {
  font-size: 15px;
  color: #f3a108;
  }
  .glyphicon-star.half {
  position: relative;
  }
  .glyphicon-star.half:before {
  position: relative;
  z-index: 9;
  width: 47%;
  display: block;
  overflow: hidden;
  }
  .glyphicon-star.half:after {
  content: '\e006';
  position: absolute;
  z-index: 8;
  color: #bdc3c7;
  top: 0;
  left: 0;
  }
  .inla
  {
  color: red;
  }
  .zoomWrapperImagyse
  {
    height: 50px !important;
    width: 50px !important;
  }
</style>
<script type="text/javascript">
  setTimeout(function(){
    $(document).ready(function(){
      CKEDITOR.replaceClass = 'client_member_body';
    });
  },500);
  </script>