<p id="notice"><%= notice %></p>
<% if current_user.wishlists.present? %>
  <h1 class="text-center">Wishlists Products</h1>
  <table class="table table-hover" border="2">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Category</th>
        <th ></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><a href="/products/<%= product.id %>"><%= image_tag product.image.url(:thumb), :size => "50x50" %></a></td>
          <td><%= product.category.name %></td>
          <td><%= link_to "Remove", remove_wishlist_path(product), data: {method: :delete, remote: true}  %>
          </td>
        </tr>
      <% end %>

        <%#= link_to "Place Order", remove_wishlist_path(product), data: {method: :delete, remote: true}, class: 'btn btn-info'  %>
    </tbody>
  </table>
  <br>
<% end %>  












