<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert" id ="alert"><%= flash[:alert] %></div>
<% end %>
<br>
<center><button type="button" class="btn btn-info text-white"><a href="/addresses/new">Add New Address<i class="fa fa-home"></i></a>
</button></center>

<%= form_tag order_path do |f| %>
    <%= hidden_field_tag :cart_id, value = current_user.cart.id %>
       <% current_user.addresses.each do |add| %>
            <label class="radio"><input type="checkbox" name="address_id"  value= "<%= add.id %>"><%= add.full_address %></label><br><br>
        <% end %>
    
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= current_cart.sub_total  %></span>
    </label>
  </article>
  <% if current_user.addresses.present? %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= (current_cart.sub_total * 100) + 5 %>"
          data-locale="auto"></script>
  <% end %>        

 
          
          <%# byebug %>
          <!-- <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="<%#= Rails.configuration.stripe[:publishable_key] %>"
                            data-description="A month's subscription"

                            data-amount="<%#= (current_user.cart.cart_items.sum(:price) + 5) * 100 %>"
                            data-locale="auto"></script> -->

<% end %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>