<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container_12">
  <div id="top">
    <div class="grid_3 ">
      <div class="phone_top">
        <span>Call Us +777 (100) 1234</span>
      </div>
      <!-- .phone_top -->
    </div>
    <!-- .grid_3 -->
    <div class="grid_6">
      <div class="welcome">
        <% if current_user.present? %>
          Welcome <%= current_user.email %>
        <% else %>
            Welcome visitor you can <a href="/users/sign_in">login</a> or <a href="/users/sign_up">create an account</a>.
        <% end %> 
      </div>
      <!-- .welcome -->
    </div>
    <!-- .grid_6 -->
    <div class="grid_3">
      <div class="valuta">
        <ul>
          <li class="curent"><a href="#">$</a></li>
          <li><a href="#">&#8364;</a></li>
          <li><a href="#">&#163;</a></li>
        </ul>
      </div>
      <!-- .valuta -->
      <div class="lang">
        <ul>
          <li class="curent"><a href="#">EN</a></li>
          <li><a href="#">FR</a></li>
          <li><a href="#">GM</a></li>
        </ul>
      </div>
      <!-- .lang -->
    </div>
    <!-- .grid_3 -->
  </div>
  <!-- #top -->
  <div class="clear"></div>
  <header id="branding">
    <div class="grid_3">
      <hgroup>
        <h1 id="site_logo"><a href="/" title=""><img src="<%= asset_path('logo.png') %>" alt="Online Store Theme Logo"></a></h1>
        <h2 id="site_description">Online Store Theme</h2>
      </hgroup>
    </div>
    <!-- .grid_3 -->
    <div class="grid_3">
      <form class="search">
        <input type="text" name="search" class="entry_form" value="" placeholder="Search entire store here..." />
      </form>
    </div>
    <!-- .grid_3 -->
    <div class="grid_6">
      <ul id="cart_nav">
        <li>
          <%  cart = Cart.where(is_done: false).first %>
          <a class="cart_li" href="/cart">
            <% if current_user.present? %><%=  current_cart.cart_items.count rescue nil %>
            <% end %>
          </a>
          <ul class="cart_cont">
            <li class="no_border">
              <p>Recently added cart item(s)</p>
            </li>
            <% if current_cart.cart_items.any? %>
              <% current_cart.cart_items.each do |cart_item| %>
                <li>
                  <!-- <a href="/product_page.html" class="prev_cart">
                    <div class="cart_vert"><img src="<%#= asset_path('cart_img.png') %>" alt="" title=""></div>
                  </a> -->

                  <a href="/product/<%= cart_item.product.id %>" class="prev_cart"><div class="cart_vert"><%= image_tag cart_item.product.image.url(:thumb) %></div>
                  </a>
                  <div class="cont_cart">
                    <h4><%= cart_item.product.name %></h4>
                    <div class="price">₹<%= cart_item.product.display_price %></div>
                  </div>
                  <a title="close" class="close" href="#"></a>
                  <div class="clear"></div>
                </li>
              <% end %>
            <% end %>    
            <!-- <li>
              <a href="/product_page.html" class="prev_cart">
                <div class="cart_vert">
                  <img src="<%#= asset_path('produkt_slid1.png') %>" alt="" title="">
                </div>
              </a>
              <div class="cont_cart">
                <h4>Caldrea Linen and Room Spray</h4>
                <div class="price">1 x $399.00</div>
              </div>
              <a title="close" class="close" href="#"></a>
              <div class="clear"></div>
            </li> -->
            <li class="no_border">
              <a href="/cart" class="view_cart">View shopping cart</a>
              <a href="/cart" class="checkout">Procced to Checkout</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul id="cart_nav">
        <li>
          <%  cart = Cart.where(is_done: false).first %>
          <a class="cart_li" href="/cart">
            <% if current_user.present? %>
              <%= current_user.wishlists.count rescue nil%>
            <% end %>
          </a>
          <ul class="cart_cont">
            <li class="no_border">
              <p>Recently added wishlist item(s)</p>
            </li>
            <% product_ids = current_user.wishlists.map(&:product_id) %>
            <% @products = Product.where(id: product_ids)%>
            <%# if current_cart.cart_items.any? %>
              <% @products.each do |product| %>
                <li>
                  <!-- <a href="/product_page.html" class="prev_cart">
                    <div class="cart_vert"><img src="<%#= asset_path('cart_img.png') %>" alt="" title=""></div>
                  </a> -->

                  <a href="/products/<%= product.id %>" class="prev_cart"><div class="cart_vert"><%= image_tag product.image.url(:thumb), :size => "50x50" %></div>
                  </a>
                  <div class="cont_cart">
                    <h4><%= product.name %></h4>
                    <div class="price">₹<%= product.price %></div>
                  </div>
                  <a title="close" class="close" href="#"></a>
                  <div class="clear"></div>
                </li>
              <% end %>
            <%# end %>    
            <!-- <li>
              <a href="/product_page.html" class="prev_cart">
                <div class="cart_vert">
                  <img src="<%#= asset_path('produkt_slid1.png') %>" alt="" title="">
                </div>
              </a>
              <div class="cont_cart">
                <h4>Caldrea Linen and Room Spray</h4>
                <div class="price">1 x $399.00</div>
              </div>
              <a title="close" class="close" href="#"></a>
              <div class="clear"></div>
            </li> -->
            <li class="no_border">
              <a href="/wishlist" class="view_cart">View shopping Wishlist</a>
              <a href="/wishlist" class="checkout">Procced to Checkout</a>
            </li>
          </ul>
        </li>
      </ul>


      <nav class="private">
        <ul>
          <li><a href="#">My Account</a></li>
          <li class="separator">|</li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/wishlist"><i class="fa fa-heart"></i><span class="sr-only">(current)</span><span class="badge"><%#= current_user.wishlists.count rescue nil%></a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/cart">
              <i class="glyphicon glyphicon-shopping-cart"></i>
              <%#  cart = Cart.where(is_done: false).first %>
                <%# if current_user.present? %><%#=  current_cart.cart_items.count rescue nil %>
                <%# end %>
            </a>
          </li> -->
          <li class="separator">|</li>
          <% if current_user.present? %>
            <li><a href="/users/sign_out">Sign Out</a></li>
          <% else %>  
            <li><a href="/users/sign_in">Log In</a></li>
          <% end %> 
          <li class="separator">|</li>
          <li><a href="/users/sign_up">Sign Up</a></li>
        </ul>
      </nav>
      <!-- .private -->
    </div>
    <!-- .grid_6 -->
  </header>
  <!-- #branding -->
</div>
<!-- .container_12 -->
<div class="col-md-12">
          
</div>
<div class="clear"></div>
<div id="block_nav_primary">
  <div class="container_12">
    <div class="grid_12 grid_color">
      <nav class="primary">
        <a class="menu-select" href="#">Catalog</a>
        <ul class="ib">
          <li>
            <% Category.all.each do |category|%>
              <li class="<%= is_active_controller('products') %>">
                <a href=""></i> <span class="nav-label"><%= category.name %></span> <span class="fa arrow"></span></a>
                <ul class="sub nav nav-second-level<%#= is_active_controller('products') %>">
                  <% category.sub_categories.each do |sub_category|%>
                    <li class="<%= is_active_action('products') %>"><%= link_to "#{sub_category.name}", products_path(sub_category_type_id: sub_category.id) %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </li>    
          <li class="curent"><a href="/">Home</a></li>
          <li class="parent">
            <a href="#">Spray</a>
            <ul class="sub">
              <li><a href="/home/catalog_grid">For home</a></li>
              <li><a href="/home/catalog_grid">For Garden</a></li>
              <li><a href="/home/catalog_grid">For Car</a></li>
              <li><a href="/home/catalog_grid">Other spray</a></li>
            </ul>
          </li>
          <li class="parent">
            <a href="#">All pages</a>
            <ul class="sub">
              <li><a href="/">Home</a></li>
              <li><a href="/home/text_page">Typography and basic styles</a></li>
              <li><a href="/home/catalog_grid">Catalog (grid view)</a></li>
              <li><a href="/home/catalog_list">Catalog (list type view)</a></li>
              <li><a href="/home/product_page.html">Product view</a></li>
              <li><a href="/home/shooping_cart.html">Shoping cart</a></li>
              <li><a href="/checkout.html">Proceed to checkout</a></li>
              <li><a href="/compare.html">Products comparison</a></li>
              <li><a href="/login.html">Login</a></li>
              <li><a href="/contact_us.html">Contact us</a></li>
              <li><a href="/404.html">404</a></li>
              <li><a href="/blog.html">Blog posts</a></li>
              <li><a href="/blog_post.html">Blog post view</a></li>
            </ul>
          </li>
          <li><a href="/home/catalog_grid">All Products</a></li>
          <%if current_user.present?  %>
            
          <% else %>
            <ul class="social-network social-circle pull-right">
              <!-- <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li> -->
              <li><a href="/auth/facebook" class="icoFacebook ib" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="/auth/twitter" class="icoTwitter ib" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="/auth/google_oauth2" class="icoGoogle ib" title="Google +"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="/auth/linkedin" class="icoLinkedin ib" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul> 
          <% end %>
        </ul>
      </nav>
      <!-- .primary -->
    </div>
    <!-- .grid_12 -->
  </div>
  <!-- .container_12 -->
</div>
<!-- .block_nav_primary -->
<style type="text/css">
  

/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
       /*background: none; */
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #F56505;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: black;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

a {
 /*background-color: #D3D3D3;*/
    
}
.grid_color
{
  background: #d4dce5 !important;
}
/*.ib{background-color: cadetblue !important;}*/
</style>