<!DOCTYPE html>
<html>
  <head>
    <title>MarketTheam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/assets/ckeditor/init.js?body=1" type="text/javascript"></script>
    <script src="/assets/ckeditor/ckeditor.js?body=1" type="text/javascript"></script>
    <script src="/assets/ckeditor/config.js?body=1" type="text/javascript"></script>
    <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <%= yield %>
      <%= render partial: 'layouts/footer' %>
  </body>
</html>